@model Final.Models.ProjectModel

@{
    ViewBag.Title = "Delete";
}

</br>
</br>
</br>
</br>
</br>
</br>


 <div align="center" class="well offset3 span5">
<fieldset>
    <legend><h2>You Sure?</h2></legend>
    <br />
    <div class="display-label">
         <b>Name:</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         <b>Client:</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserModel.FirstName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <br />
        <input type="submit" class="btn btn-mini btn-danger" value="Delete" /> 
    </p>
}
