@model Final.Models.DepartmentModel

@{
    ViewBag.Title = "Delete";
}

</br>
</br>
</br>


 <div align="center" class="well offset3 span5">
<fieldset>
    <legend><h2>You Sure?</h2></legend>

    <div class="display-label">
         <b>Name:</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.D_Name)
    </div>
    <br />
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn btn-mini btn-danger"/> |
        @Html.ActionLink("Back", "Index", "", new { @class="btn btn-mini"})
    </p>
}
     </div>