@model Final.Models.DepartmentModel

@{
    ViewBag.Title = "Delete";
}
<!--
</br>
</br>
</br>
</br>
</br>
</br>
    -->


 <!--<div align="center" class="well offset3 span5">-->
<fieldset>
    <legend><h2>You Sure?</h2></legend>
    <br />
    <div class="display-label">
         <!--@Html.DisplayNameFor(model => model.D_Name)-->
        <b>Name:</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.D_Name)
    </div>
    <br />
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <br />
        <input type="submit" value="Delete" class="btn btn-mini btn-danger" /> |
         @Html.ActionLink("Back", "Index", "", new { @class="btn btn-mini"})
    </p>
}
