@{
    ViewBag.Title = "Index";
}

<div class="editor-label">
            Select Department
        </div>
        <div class="editor-field">
          @Html.DropDownList("Chart Type", new List<SelectListItem>
                     {
                        new SelectListItem{ Text="CMPS", Value = "CMPS" }, 
                        new SelectListItem{ Text="ET", Value = "ET" },
                        new SelectListItem{ Text="OSHE", Value = "OSHE" },
                        new SelectListItem{ Text="IT", Value = "IT" }
                     })
        </div>

<div class="editor-label">
            Select Teacher
        </div>
        <div class="editor-field">
          @Html.DropDownList("Chart Type", new List<SelectListItem>
                     {
                        new SelectListItem{ Text="Sabastian Van Delden", Value = "Sabastian Van Delden" }, 
                        new SelectListItem{ Text="Ihssan Alkadi", Value = "Ihssan Alkadi" },
                        new SelectListItem{ Text="Ghassan Alkadi", Value = "Ghassan Alkadi" },
                        new SelectListItem{ Text="Theresa Beaubouef", Value = "Theresa Beaubouef" }
                     })
        </div>

<button class="btn btn-primary" type="button">Add Course</button>

<div class="hero-unit" style="text-align:center">

        <div class="scrollWrapper">
        <table class="calendar table table-bordered">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th width="20%">Monday</th>
            <th width="20%">Tuesday</th>
            <th width="20%">Wednesday</th>
            <th width="20%">Thursday</th>
            <th width="20%">Friday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>8:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        
        <tr>
            <td>9:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        
        <tr>
            <td>10:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
       
        <tr>
            <td>11:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
       
        <tr>
            <td>12:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        
        <tr>
            <td>1:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>


        </tr>
       
        <tr>
            <td>2:00</td>

            <td class="max-conflicts" rowspan="1">
                <div class="row-fluid practice" style="width:90%; height:100%;">
                    <span class="title">CMPS 470</span>
                    <span class="location">Fayard 213</span>
                    <span class="time">2:00-3:15</span>
                </div>
                <div class="row-fluid practice" style="width:90%; height:100%;">
                    <span class="title">CMPS 570</span>
                    <span class="location">Fayard 213</span>
                    <span class="time">2:00-3:15</span> 
                    </div>
            </td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" max-conflicts" rowspan="1">
                <div class="row-fluid practice" style="width:90%; height:100%;">
                    <span class="title">CMPS 470</span>
                    <span class="location">Fayard 213</span>
                    <span class="time">2:00-3:15</span>
                </div>
                <div class="row-fluid practice" style="width:90%; height:100%;">
                    <span class="title">CMPS 570</span>
                    <span class="location">Fayard 213</span>
                    <span class="time">2:00-3:15</span>
                </div>
            </td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
       
        <tr>
            <td>3:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" has-events" rowspan="1">
                <div class="row-fluid practice" style="width:90%; height:100%;">
                    <span class="title">CMPS 280</span>
                    <span class="location">Fayard 215</span>
                    <span class="time">3:30-4:45</span>
                </div>
            </td>


            <td class=" no-events" rowspan="1"></td>

            <td class=" has-events" rowspan="1">
                <div class="row-fluid practice" style="width:90%; height:100%;">
                    <span class="title">CMPS 280</span>
                    <span class="location">Fayard 215</span>
                    <span class="time">3:30-4:45</span>
                </div>
            </td>

            <td class=" no-events" rowspan="1"></td>


        </tr>
        
        <tr>
            <td>4:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>


        </tr>
        
        <tr>
            <td>5:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>


        </tr>
       
        <tr>
            <td>6:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        
        <tr>
            <td>7:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
       
    </tbody>
</table>
            </div>
        
        
        
